/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Header section styles
   ========================================================================== */

a {
    text-decoration: none;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.alt-text {
    text-indent: -9998em;
    display: block;
}

.header {
    height: 500px;
    border-top: solid 10px #d4213d;
    background-attachment: fixed;
    background-image: url("../img/header-background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header-container {
    padding-top: 11%;
    padding-left: 17%;
}

.title {
    font-family: 'Gochi Hand', cursive;
    font-weight: normal;
    color: #fff;
    font-size: 3em;
}

.title-decor {
    color: #d4213d;
    display: inline-block;
}

.subtitle {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    width: 260px;
}

.platforms {
    list-style-type: none;
    padding-left: 0px;
}

.platform-item {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    justify-content: space-between;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
}

.platform-link {
    height: 100%;
    opacity: .6;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: 50% 50%;
}

.platform-link-apple {
    background-image: url("../img/apple-icon.png");
}

.platform-link-android {
    background-image: url("../img/android-icon.png");
}

.platform-link-windows {
    background-image: url("../img/windows-icon.png");
}

.platform-link:hover {
    opacity: 1;
    background-color: #d4213d;
}


/* ==========================================================================
   Features section styles
   ========================================================================== */

.feature-list {
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.features {
    padding-top: 55px;
}

.feature-block {
    display: table-cell;
    height: 200px;
    text-align: center;
    padding: 0 80px;
}

.feature-image {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-size: cover;
}

.feature-image-rack {
    background-image: url("../img/rack-icon.png");
}

.feature-image-star {
    background-image: url("../img/star-icon.png");
}

.feature-image-globe {
    background-image: url("../img/globe-icon.png");
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
}

.feature-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
}


/* ==========================================================================
   Newsletter and video section styles
   ========================================================================== */

.form-container {
    display: block;
    height: 100%;
    padding: 50px 0;
    background-color: #e3e3e3;
}

.newsletter-container {
    box-sizing: border-box;
    padding-right: 160px;
    width: 59.6%;
    float: left;
}

.newsletter-container-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.newsletter-container-description {
    color: #848484;
    font-family: Arial, Helvetica, sans-serif;
}

.newsletter-container input[type='email'] {
    height: 55px;
    border-radius: 15px 0 0 15px;
    border: solid 1px #ccc;
    width: 55%;
    padding: 1px 25px 1px 15px;
    outline: none;
}

.newsletter-container button {
    margin-left: -4px;
    background-color: #d4213d;
    border: none;
    color: white;
    font-size: 22px;
    vertical-align: middle;
    padding: 16px 45px 15px;
    border-radius: 0 15px 15px 0;
    font-family: 'PT Sans', sans-serif;
}

.video-container {
    width: 40%;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}


/* ==========================================================================
   Quote and carousel section styles
   ========================================================================== */

.quote-people {
    text-align: center;
}

.quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #848484;
    font-style: italic;
    width: 70%;
    display: inline-block;
    margin: 50px 0 0 0;
}

.author {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.people-pictures {
    width: 85%;
    margin: auto;
}

.list-picture a {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.list-picture a:hover:before {
    background-color: #d4213d;
    position: absolute;
    top: 0;
    left: 10%;
    content: '';
    width: 90%;
    opacity: 0.6;
    height: 100%;
}


/* ==========================================================================
   Social media section styles
   ========================================================================== */

.social {
    text-align: center;
    padding-top: 30px;
}

.social h3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.social p {
    font-family: 'PT Sans', sans-serif;
    color: #848484;
}

.socials-list {
    padding: 10px 0 0 0;
}

.social-item {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    justify-content: space-between;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px 30px;
}

.socials-link {
    height: 100%;
    opacity: .6;
    background-repeat: no-repeat;
    background-color: #d4d4d4;
    background-position: 50% 50%;
}

.socials-link:hover {
    background-color: #d4213d;
    opacity: 1;
}

.socials-link-twitter {
    background-image: url("../img/twitter-icon.png");
    background-size: 20px 20px;
}

.socials-link-facebook {
    background-image: url("../img/facebook-icon.png");
    background-size: 10px 20px;
}

.socials-link-pinterest {
    background-image: url("../img/pinterest-icon.png");
    background-size: 20px 20px;
}

.socials-link-google {
    background-image: url("../img/google-icon.png");
    background-size: 20px 20px;
}

.socials-link-linkedin {
    background-image: url("../img/linkedin-icon.png");
    background-size: 17px 17px;
}

.socials-link-youtube {
    background-image: url("../img/youtube-icon.png");
    background-size: 25px 25px;
}


/* ==========================================================================
   Footer section styles
   ========================================================================== */

footer {
    margin-top: 65px;
    background-color: #e3e3e3;
    text-align: center;
    overflow: hidden;
}

.site-map {
    padding: 55px 0;
}

.site-map-link {
    display: inline-block;
}

.site-map-link a {
    color: #848484;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}